._groupsComponent_c{
    ._groups-component_c{
        height: 65vh;
        max-height: 65vh;
    }
}


.modal-overlay{
    display: none !important;
}
.selectize-dropdown{
    box-shadow: 0px 2px 4px;
}