._collapse_action_c{
    ._collapse_title{
        margin-left: 40%;
        color:white;
    }
    ._collapse_action_btns_c{
        margin-right: 5px;
    }
    ._header_collapse_action_c{
        font-size: 27px;
        height: 20px;
    }
    ._expand_c{
        padding: 0px;
        width: 17px;
        height: 17px;
        margin-top: 7px;
    }
}


.nav-wrapper_c{
    ._menu_c{
        float: right;
        font-size: 40px !important;
        height: 10px !important;
        margin-right: 5px;
    }
}




