<!-- <div class="error-component" data-bind="visible : showError, animate:{ animation: 'bounceInRight', state: true }">

    <div data-bind="switch: messageType">
        <div data-bind="case:'error'">
            <div class="error-message">
                <span data-bind="html : messageText"></span>
            </div>
        </div>

        <div data-bind="case:'info'">
            <div class="info-message">
                <span data-bind="html : messageText"></span>
            </div>
        </div>

        <div data-bind="case:'webrtc-info'">
            <div class="webrtc-info-message">
                <span data-bind="html : messageText"></span>
            </div>
        </div>
    </div>
</div> -->