<div class="_homeScreen">

    <div class="row">
        <div class="col m1"></div>
        <div class="col m11">
            <div class="row center-align _welcome_msg">
                <p class="flow-text">
                    <span data-bind="text:'Hi '+$component.userDetails().user_name+','"></span>
                    <br>Welcome to
                    <span class="_welcome_msg_bold">&nbsp;ChatElite</span>
                </p>
                <div class="_welcome_msg_text">
                    <p class="flow-text">Instant messaging is the best way to connect with your colleagues and friends instantly. Chat about your
                        work related queries or simply update your friends with your new possession. Make groups for discussing
                        important topics or share your files with your teammates; ChatElite lets you connect at any time,
                        from any place. Experience the next-gen enterprise communication with ChatElite's live chat.
                    </p>
                    <p class="flow-text">
                        <strong>Welcome to ChatElite !! It's where the collaboration happens..</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row _feature-carousal">
        <div class="col m1"></div>
        <div class="col m11">
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-item" href="#one!">
                    <div class="row">
                        <div class="col m2"></div>
                        <div class="col m2 ">
                            <div class="row">
                                <div class="col m12 m7">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="${require(`./../../../icons/feature-1.png`)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col m1"></div>
                        <div class="col m2">
                            <div class="row">
                                <div class="col m12 m7">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="${require(`./../../../icons/feature-2.png`)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col m1"></div>
                        <div class="col m2">
                            <div class="row">
                                <div class="col m12 m7">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="${require(`./../../../icons/feature-3.png`)}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>