<div class="__collab_init">
	<!--ko ifnot: showEngine -->
	<div class="init_chat" title="Chat" data-bind="click:showChatEngine">
		<i class="large material-icons">chat</i>
	</div>
	<!-- /ko -->

	<!-- ko if: showEngine -->
	<div>
		<header-component></header-component>

		<div class="row">

			<!-- homeScreen -->
			<div class="col m9" id="__homeScreenComponent">
				<home-component></home-component>
			</div>



			<!-- chatComponent -->
			<div class="hide" id="__chatComponent">
				<chat-component></chat-component>
			</div>

			<!--infoComponent-->
			<div class="col m3" id="__infoComponent">
				<info-component></info-component>
			</div>
		</div>

		<error-component></error-component>
	</div>
	<!-- /ko -->
</div>